<div class="modal fade pop_watch_tech" id = "changePasswordPop" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog"  style="width: 600px;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" data-dismiss="modal" class="close">×</button>
                <h4 class="modal-title" id="exampleModalLabel"> Change password</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="Branch" class="col-sm-3 control-label-popup">Current Password</label>
                        <div class="col-sm-9">
                            <input id="changePwOldPw" ng-init="oldPw='';" type="password" maxlength="20" ng-hide="showpassword" class="form-control" ng-model="oldPw">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Branch" class="col-sm-3 control-label-popup">New Password<span class="asterisk"></span></label>
                        <div class="col-sm-9">
                            <input id="chagePwNewPw" ng-init="newPw='';" type="password" maxlength="20" ng-hide="showpassword" class="form-control" ng-model="newPw">
                        </div>
                    </div>
                    <div class="row">
                        <label for="" class="col-sm-3"></label>
                        <div class="col-sm-9">
                            <span class="pwmessage">Password should be over 8, be mixed letter and number and include over 1 digit capital letter</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Branch" class="col-sm-3 control-label-popup">Confirm Password<span class="asterisk"></span></label>
                        <div class="col-sm-9">
                            <input id="changePwConPw" ng-init="conPw='';" type="password" maxlength="20" ng-hide="showpassword" class="form-control" ng-model="conPw">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" id="changePasswordPopClose" class="btn btn-danger btn-sm" data-dismiss="modal"><i class="fa fa-close fa-1_5x"></i> close </button>
                <button type="button" class="btn btn-info btn-popup btn-sm" ng-click="changePw();"><i class="fa fa-save fa-1_5x"></i> Save </button>
            </div>
        </div>
    </div>
</div>