<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!-- Appenders -->
    <appender name="dailyout" class="org.apache.log4j.DailyRollingFileAppender">
        <param name="file" value="/home/logs/monicommon/dailyout.log"/>
        <param name="Append" value="true"/>
        <param name="DatePattern" value="'.'yyyy-MM-dd HH"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%-5p%d{yyyy-MM-dd HH:mm:ss, SSS}: %c - %m%n"/>
        </layout>
    </appender>
    <!-- Application Loggers -->
    <logger name="com.hyosung.common">
        <level value="DEBUG" />
    </logger>

    <!-- 3rdparty Loggers -->
    <logger name="org.springframework.core">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.beans">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.context">
        <level value="DEBUG" />
    </logger>

    <logger name="org.springframework.web">
        <level value="info" />
    </logger>

    <!-- Root Logger -->
    <root>
        <priority value="DEBUG" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
